@font-face {
    font-family: "Bitter";
    src: url("/fonts/Bitter.ttf") format("ttf");
    font-weight: 400;
}
html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 22px;
}

.header-navigator {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.header-navigator-menu {
    list-style: none;
    display: flex;
    gap: 54px;
}
.header-navigator-menu-item a,
.testimonials-links-menu-item a{
    color: black;
    text-decoration: none;
}

.header-navigator-menu-item button {
    width: 55px;
    height: 50px;
    background: url('../img/sendMessage.svg');
    background-size: contain;
    border: none;
}
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 630px;
    background: url('../img/heroBackground.jpg');

}
.hero-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 690px;
    height: 360px;
    background-color: white;

}
.hero-section-content-title {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.hero-section-content-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.biography-photo {
    object-fit: cover;
    width: 49%;
}
.section-name {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.biography-section-name-container {
    width: 12%;
    flex-grow: 1;
}

.biography-section-name {
    margin: 0;
    transform: rotate(-90deg) translateX(-27%) translateY(-85%);
}
.biography-name,
.testimonials-strengths {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
}
.biography-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 39%;
}
.biography-role {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
}

.biography-article-rectangle {
    height: 6px;
    width: 20px;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 15px;
}

.biography-quote {
    font-family: 'Bitter', serif;
    font-size: 26px;
    font-weight: 400;
    margin-left: 0;
    margin-top: 0;
}

.designer-info-tittle,
.testimonials-link-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.designer-info-text,
.testimonials-link,
.footer-contact,
.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.testimonials-section-name-container {
    max-width: 98px;
    grid-column: 7;
}
.testimonials-section-name {

    margin: 0;
    transform: rotate(-90deg) translateX(-110%) translateY(-110%);
}
.testimonials-article-links-and-cafe-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 2 / 7;
    grid-column-gap: 16px;

}
.testimonials-links {
    display: grid;
    grid-column: 1;
    max-width: 98px;
}
.testimonials-links-menu {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    list-style: none;
}
.testimonials-links-menu-item {
    margin: 0;
    transform: rotate(-90deg) translateX(-11%) translateY(12%);
}
.testimonials-cafe {
    grid-column: 2 / 6;
    width: 100%;
}
.testimonials-quote-and-image {
    grid-column: 8 / 12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
}
.testimonials-quote {
    font-family: 'Bitter', serif;
    font-size: 32px;
    font-weight: 400;
    grid-column: 2 / 4;
    text-align: center;
    margin-top: 22%;
    margin-left: 3%;
    margin-right: 3%;
}
.testimonials-quote-and-image img {
    grid-column: 2 / 4;
    width: 100%;
    justify-self: center;
}
.strengths {
    font-family: 'Bitter', serif;
    font-size: 34px;
    font-weight: 400;
}

.footer-description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.footer-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
}
.vertical-margin-null {
    margin-top: 0;
    margin-bottom: 0;
}

#biography {
    display: flex;
    justify-content: center;
    margin-left: 9.54%;
    margin-right: 9.54%;
    flex-direction: row;
    margin-top: 9.8%;
}
#testimonials{
    display: grid;
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(12, 1fr);

}